<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="FastCgiModulePHP" />
            <add name="FastCgiModulePHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
